<mat-dialog-content>

  <table mat-table class="full-width" matSort>

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row; let index=index">
        {{ index + 1 }}&nbsp;
      </td>
    </ng-container>

    <ng-container matColumnDef="pendingOrderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pending Order Id</th>
      <td mat-cell *matCellDef="let row">
        {{ row.pendingOrderId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastOrderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Order Id</th>
      <td mat-cell *matCellDef="let row">
        {{ row.lastOrderId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pnlUsd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>pnl Usd</th>
      <td mat-cell *matCellDef="let row">
        <div class="text-right">
          {{ row.pnlUsd | number:'1.2-2' }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
        {{ row.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="openAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Open At (UTC)</th>
      <td mat-cell *matCellDef="let row">
        {{ row.openAt | date: 'YYYY-MM-dd HH:mm': 'UTC' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="closedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Closed At (UTC)</th>
      <td mat-cell *matCellDef="let row">
        {{ row.closedAt | date: 'YYYY-MM-dd HH:mm': 'UTC' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dealDuration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let row">
        {{ row.dealDuration }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="">确定</button>
</div>

