@import "styles/cyan-orange.css";
@import "dark.css";

.primary-color {
  color: #00dddd !important;
}

.accent-color {
  color: #b0cccb !important;
}

.active-link, a.active-link * {
  color: #ffb787 !important;
}
