@import "styles/magenta-violet.css";
@import "dark.css";

.primary-color {
  color: #ffabf3 !important;
}

.accent-color {
  color: #dabfd2 !important;
}

.main-toolbar.mat-toolbar {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  /*border: 1px solid var(--mat-sys-outline-variant);*/
  font: var(--mat-sys-body-large);
}
