@import "styles/rose-red.css";
@import "light.css";

.primary-color {
  color: #ba005c !important;
}

.accent-color {
  color: #74565d !important;
}


.mat-toolbar {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  /*border: 1px solid var(--mat-sys-outline-variant);*/
  font: var(--mat-sys-body-large);
}
