<div>
  <div class="mb-2">
    <mat-label class="mr-4">Exchange</mat-label>
    <button mat-button [class]="params.ex===ex? 'active-link':null"
            *ngFor="let ex of exchanges" (click)="params.ex=ex;this.refresh()">
      {{ ex }}
    </button>
  </div>
  <div class="mb-2">
    <mat-label class="mr-4">Symbol</mat-label>
    <button mat-button [class]="params.symbol===sym? 'active-link':null"
            *ngFor="let sym of symbols" (click)="params.symbol=sym;this.refresh()">
      {{ sym }}
    </button>
  </div>
  <div class="mb-2">
    <mat-label class="mr-4">Interval</mat-label>
    <button mat-button [class]="params.interval===tl.interval? 'active-link':null"
            *ngFor="let tl of timeLevels" (click)="params.interval=tl.interval;this.refresh()">
      {{ tl.interval }}
    </button>
  </div>
  <div class="mb-2">
    <mat-form-field class="mr-4">
      <mat-label>Date From</mat-label>
      <input matInput [matDatepicker]="dateFromPicker" [(ngModel)]="params.dateFrom"
             (dblclick)="params.dateFrom=undefined" (dateChange)="this.refresh()">
      <mat-datepicker-toggle matIconSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateFromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Limit</mat-label>
      <mat-select [(ngModel)]="params.limit">
        <mat-option *ngFor="let limit of limits" [value]="limit">
          {{ limit }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div [style.width.px]="chartWidth" [style.height.px]="chartHeight" class="kline-chart" #chart></div>
